@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*------ Variables (To be defined) --------*/
:root {
    --primary-color: #f9a826;
    --secondary-color: #f9a826;
    --tertiary-color: #f9a826;
    --quaternary-color: #f9a826;
    --quinary-color: #f9a826;
    --senary-color: #f9a826;
    --septenary-color: #f9a826;
    --octonary-color: #f9a826;
    --nonary-color: #f9a826;
    --navbar-bg: #2B2B2B;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03em;
    text-transform: none;
    word-wrap: break-word;
    font-size: 1rem;
    line-height: 1.8;
    -webkit-font-smoothing: antialiased;
    box-sizing: content-box;
    color: #131313;
}

/*------ General--------*/

/*--NavBar--*/

.navbar-toggler {
    border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon{
    outline: none !important;
    box-shadow: none !important;
    border: 0 !important;
}

/* Lines of the Toggler */
.toggler-bar{
    width: 30px;
    height: 3px;
    background-color: #777777;
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.custom-toggler .toggler-bar:nth-child(1) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.custom-toggler .toggler-bar:nth-child(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}

.custom-toggler .toggler-bar:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

/* State when navbar is collapsed (END) */
.custom-toggler.collapsed .toggler-bar:nth-child(1) {
    transform: rotate(0);
}

.custom-toggler.collapsed .toggler-bar:nth-child(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}

.custom-toggler.collapsed .toggler-bar:nth-child(3) {
    transform: rotate(0);
}

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-bar {
    background-color: #777777;
}

.custom-toggler {
    z-index: 1051; /* Mantiene il toggle sopra l’Offcanvas (Bootstrap usa 1050 per il suo z-index di Offcanvas) */
  }

  .offcanvas-content {
    display: flex;               /* Usa flexbox per disporre gli elementi in fila */
    flex-direction: column;      /* Posiziona gli elementi verticalmente */
    align-items:start;         /* Centra gli elementi orizzontalmente */
    gap: 20px;                   /* Distanza tra gli elementi */
    padding: 10px;               /* Padding per distanziare dal bordo */
    text-align:left;          /* Centra il testo */
    cursor: pointer;
    width: 100%;
  }
  
  /* Stile individuale per ciascun elemento */
  .offcanvas-content {
    font-size: 18px;             /* Dimensione del testo */
    font-weight: 500;            /* Peso del testo */
    color: #333;                 /* Colore del testo */
  }

  .offcanvas-item {
    cursor: pointer;              /* Cambia il cursore per indicare che è cliccabile */
    transition: background-color 0.3s ease; /* Effetto di transizione per il background */
    border-radius: 20px;
  }
  
  /* Effetto hover */
  .offcanvas-item:hover {
    background-color: #f0f0f0;   /* Cambia il colore di sfondo al passaggio del mouse */
  }

  .offcanvas-content-small {
    font-size: 15px;             /* Dimensione del testo */
    font-weight: 400;            /* Peso del testo */
    color: #333;                 /* Colore del testo */
  }

  .separator {
    height: 2px;              /* Spessore della linea */
    background-color: #333;
    margin: 15px 0;           /* Margine sopra e sotto la linea */
    width: 80%;              /* Larghezza della linea */
    border-radius: 20px;
  }

  .offcanvas-footer {
    margin-top: 50% !important;
    display:flex;
    padding: 10px; 
    text-align: left;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    align-items:start;
    cursor: pointer;      /* Aggiungi un cursore se è un link o pulsante */
    width: 100%;
  }