::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track { 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgba(109, 109, 109, 0.6);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(66, 66, 66, 0.6);
  }

  .input-stakeholder select,
.input-scale select,
.input-type select,
.input-language select {
    appearance: none; /* rimuove la freccia predefinita */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../assets/arrow_down.svg'); /* usa l'icona SVG che preferisci */
    background-size: 1.4rem; /* aumenta le dimensioni della freccia */
    background-repeat: no-repeat;
    background-position: right 0.9rem center; /* posizione della freccia */
}

/* Hide the default date picker icon */
input[type="date"]::-webkit-calendar-picker-indicator {
    color-scheme: dark;
}

.select {
  background-image: url('../assets/arrow_down.svg'); /* usa l'icona SVG che preferisci */
  background-size: 1.4rem; /* aumenta le dimensioni della freccia */
  background-repeat: no-repeat;
  background-position: right 0.9rem center; /* posizione della freccia */
}